<!doctype html>
<html>
  <head>
    <title>iipsrv</title>
    <style>
      div {
        margin-top: 20%;
        margin-left: 20%;
        margin-right: 20%;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>iipsrv</h1>
      <hr>
      <ul>
        <li><a href="/manifests/">manifests</a></li>
        <li><a href="/images/">images</a></li>
      </ul>
    </div>
  </body>
</html>

