proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=senaite_nginx_cache:10m
                 max_size=256m inactive=60m use_temp_path=off;

# Redirect per default to HTTPS
server {
    server_name _;
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    # Redirect all to HTTPS
    location / {
        return 301 https://$host$request_uri;
    }

    # NGINX STATUS (needed for the Munin NGINX plugin)
    # ... does not work with self signed certificate and HTTPS :(
    location /nginx_status {
        stub_status on;
        access_log off;
        allow all;
    }
}

# Administrative HTTPS VHOST
server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server ipv6only=on;

    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};

    ssl_session_timeout 10m;
    ssl_protocols SSLv3 TLSv1;
    ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
    ssl_prefer_server_ciphers on;

    root {{ nginx_html_root }};

    gzip on;
    gzip_comp_level 6;
    gzip_http_version 1.0;
    gzip_proxied any;
    gzip_min_length 1100;
    gzip_buffers 16 8k;
    gzip_types
      application/atom+xml
      application/javascript
      application/json
      application/rss+xml
      application/x-font
      application/x-font-opentype
      application/x-font-otf
      application/x-font-truetype
      application/x-font-ttf
      application/x-javascript
      application/x-web-app-manifest+json
      application/xhtml+xml
      application/xml
      font/opentype
      font/otf
      font/ttf
      image/svg+xml
      image/x-icon
      text/css
      text/javascript
      text/plain
      text/xml
      text/x-component
    # text/html is always compressed by HttpGzipModule

    # Disable for IE < 6 because there are some known problems
    gzip_disable "MSIE [1-6].(?!.*SV1)";

    # Add a vary header for downstream proxies to avoid sending cached gzipped files to IE6
    gzip_vary on;

    # Caching of static resources
    location ~* \.(?:jpg|jpeg|png|gif|ico|css|js|otf|ttf|eot|woff|woff2|svg)$ {
        set $backend http://haproxy;
        if ($uri ~* "@@API") {
            set $backend http://api;
        }
        if ($http_cookie ~* "__ac=([^;]+)(?:;|$)" ) {
            add_header "X-AUTHENTICATED" "YES";
        }

        access_log off;
        gzip_static on;
        gzip_comp_level 6;
        expires 7d;

        # Cache
        proxy_cache             senaite_nginx_cache;
        proxy_cache_revalidate  on;
        proxy_cache_min_uses    1;
        proxy_cache_lock        on;

        proxy_set_header        Host            $http_host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        rewrite                 ^(.*)$ /VirtualHostBase/$scheme/$host/{{ plone_site_id }}/VirtualHostRoot/$1 break;
        proxy_pass              $backend;
    }

    location / {
        set $backend http://haproxy;
        if ($uri ~* "@@API") {
            set $backend http://api;
        }

        if ($http_cookie ~* "__ac=([^;]+)(?:;|$)" ) {
            add_header "X-AUTHENTICATED" "YES";
        }

        proxy_set_header        Host            $http_host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        rewrite                 ^(.*)$ /VirtualHostBase/$scheme/$host/{{ plone_site_id }}/VirtualHostRoot/$1 break;
        proxy_pass              $backend;
    }

{% for client in range(0, plone_client_count|int ) %}
    location /{{ plone_instance_name }}_{{ client + 1 }} {
        proxy_set_header        Host            $http_host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        rewrite                 ^/{{ plone_instance_name }}_{{ client + 1 }}(.*)$ /VirtualHostBase/$scheme/$host/{{ plone_site_id }}/VirtualHostRoot/_vh_{{ plone_instance_name }}_{{ client + 1 }}$1 break;
        proxy_pass              http://127.0.0.1:{{ plone_client_base_port | int + client }}/;
    }
{% endfor %}

    # Control Panel
    location /control_panel {
        try_files $uri $uri.html /;
    }

    # HAProxy
    location /haproxy {
        proxy_set_header        Host            $host/haproxy;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass              http://haproxy/;
    }

{% if supervisor_with_http  %}
    # Supervisor
    location /supervisor/ {
        index index.html;
        proxy_set_header       Host            $host/supervisor;
        proxy_set_header       X-Real-IP       $remote_addr;
        proxy_set_header       X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass             http://{{ supervisor_http_port }}/;
    }
{% endif %}

{% if haproxy_with_http_stats %}
    # HAProxy
    location /haproxy-status {
        proxy_set_header        Host            $http_host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass              http://haproxy/haproxy-status;
    }
{% endif %}

}
